:root {
    --laranja: #F8910C;
    --amarelo: #FFCD2C;
    --bege: #FBDECC;
    --amarelo-claro: #E8E7B5;
    --verde-claro: #B3C56E;
    --verde-escuro: #707D4E;
    --roxo: #450C3F;
    --outro-verde: #B9D175;
    --verde-clarinho: #D9EFBD;
    --quase-amarelo: #D9EFBD;
    --verde-musgo: #7FA560;
    --amarelo-meio-queimado: #E4DF7D;
    --roxinho: #FBC6F5;
    --rosa: #DC538C;
    --amareloo: #FDD480;
    --amarelo-meio-neon: #EDF485;
    --rosinha: #f6dcf3;


}

body{
    background-color: var(--bege);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main{
    padding: 40px;
}

h1, h2{
    color: var(--verde-escuro);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 24px;
}

#introducao{
    color: darkolivegreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#dashboard{
    display: flex;
    gap: 50px;
}

#cartao-saldo, #cartao-receitas, #cartao-despesas{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    text-align: center;

}

#valor-saldo, #valor-receitas, #valor-despesas{
    color: var(--verde-claro);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#movimentacoes{
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

#movimentacoes h2{
    text-align: center;
}

#movimentacoes div{
    margin-bottom: 20px;
}

#movimentacoes input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
}

#movimentacoes select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
}

#movimentacoes button{
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

#lista{
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

.movimentacao{
    background-color: #E8E7B5;
    border: 1px solid var(--verde-claro);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.movimentacao h3{
    color: var(--verde-escuro);
    margin-top: 0;
    margin-bottom: 8px;
}

.movimentacao{
    margin: 5px 0;
    font-weight: bold;
}

.movimentacao.receita{
    border-left: 5px solid var(--outro-verde);
}

.movimentacao.despesa{
    background-color: var(--rosinha);
    border: 1px solid var(--roxinho);
        border-left: 5px solid var(--rosa);
}

.informacoes{
    flex: 1;
}

.detalhes{
    text-align: center;
    min-width: 150px;
}

.botao-atualizar, .botao-excluir{
    padding: 15px, 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--amareloo);
    margin: 10px;
}